################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/TemperatureFunction/v15/Server/sqlite3
/src/.vs/TemperatureFunction/v15/.suo
/src/.vs
/src/TemperatureFunction/Properties/PublishProfiles/TemperatureFunctionApp - Web Deploy.pubxml
